/* ------------- IDs -------------- */
p {
	max-width: 90%;
	max-height: 90%;
	margin: 8px;
}

.blueBack {
	background-color: lightblue;
}

.yellowBack {
	background-color: lightyellow;
}

#container {
	width: 100%;
}

#textInput {
	width: 50%;
	min-height: 300px;
	margin: 1.5rem;
}



/* ------------- CLASSES --------------- */
.card {
	width: 30%;
	border: 2px solid lightblue;
	display: inline-block;
	margin: 10px;
}
.dotBorder {
	border: 2px dotted black;

}

.cardHeader {
	background-color: lightgrey;
	width: 100%;
	min-height: 50px;
	text-align: center;

}

.cardTitle {
	min-width: 50%;
	display: inline-block;
}

.cardName {
	min-width: 50%;
	display: inline-block;
}

.cardBio {
	/*border: 1px solid red;*/
	width: 100%;
	min-height: 300px;
}

.cardImg {
	max-width: 100px;
	max-height: 60px;
}

.cardFooter {
	background-color: lightgrey;
	width: 100%;
	min-height: 50px;
	word-wrap: break-word;
	text-align: center;
}
